/* Add screen styles below */
body {
    background: #EDEDED;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    background: #D62F61;
    color: #EDEDED;
    margin: 0;
    padding: 20px;
    font-size: 64px;

}

h2 {
    color: #D62F61;
    padding: 20px;
    font-size: 64px;
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;

}

img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 300px;
    height: auto;
    margin-top: 90px;
    margin-left: 40px;

}

h3 {
    color: #353535;
    padding: 20px;
    margin: 0;
    font-size: 38px;
    margin-top: 90px;
    margin-right: 40px;

}

p {
    color: #353535;
    padding: 20px;
    margin: 0;
    font-size: 30px;
    margin-right: 40px;

}

div {
position: relative;
top: 130px;
}