/* Add screen styles below */
body {
    background: #EDEDED;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    background: #D62F61;
    color: #EDEDED;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #D62F61;
    padding: 20px;
}

img {
    float: left;
    margin-right: 20px;
    padding: 20px;
}

h3 {
    color: #353535;
    padding: 20px;
}

p {
    color: #353535;
    padding: 20px;
}